snippet sign "Signature"
Regards,
Zane Erison Becker-Byrd
-----------------------
Burbank High School Class of 2022
endsnippet

snippet today "Date"
`date +%F`
endsnippet

snippet start "Exec" bA
exec --no-startup-id i3-msg 'workspace 
endsnippet
